//
// Global Variables
//

// Colors
@white: #FFF;
@black: #000;

// Breakpoints
@tabletMax: 1020px;
@mobileMax: 650px;


// Mixins
.backgroundSize(){
  /* The url is relative to the document, not to the css file! */
  /* Prefer absolute urls to avoid confusion. */
  -ms-behavior: url('/assets/backgroundsize.min.htc');
}

.clear {
  height: 0;
  clear: both;
  overflow: hidden;
}

//
// Global HTML Doc & Body
//

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  font-smooth:always;
}

body {
  -webkit-text-size-adjust: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background: @white;
  color: @black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

img {
  border: none;
}

a,
button,
object,
embed,
a:hover, a:active, a:focus {
  outline: 0;
  outline: none;
  text-decoration: none;
}

p > a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

//
// Global Styles
//

.wrap {
  width: 100%;
  height: auto;
}

//
// Keyframes
//

@keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    transform: translateX(-40%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.scene_element {
  animation-delay: 0.5s;
  animation-duration: 0.7s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  &--delay {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  &--fadein {
    animation-name: fadeIn;
  }
  &--fadeinup {
    animation-name: fadeInUp;
  }
  &--fadeinleft {
    animation-name: fadeInLeft;
  }
}
body.is-exiting {
  .scene_element {
    animation-direction: alternate-reverse;
  }
}
