//
// Homepage
//

.intro {
  width: 100vw;
  height: 100vh;
  background: transparent;
  &-image {
    position: absolute;
    display: block;
    width: 50%;
    height: 90%;
    z-index: 1;
    overflow: hidden;
    top: 5%;
    left: 15%;
    background: url('/assets/images/popular-landscaping-desert-landscape-coloring-pages-desert-landscape-materials-desert-landscape-mounds-desert-landscape-mulch-desert-landscape-murals-desert-landscape-magazine-desert-landscape-m.jpg') no-repeat center center;
    background-size: cover;
    .backgroundSize();
    &.white {
      background: @white !important;
    }
  }
  h1 {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 100px;
    text-align: left;
    z-index: 2;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    transition: all 500ms;
    font-weight: normal;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    input {
      -webkit-appearance: none;
      background: none;
      border: none;
      box-shadow: none;
      outline: none;
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-size: inherit;
    }
    @media (max-width: @tabletMax) {
      font-size: 70px;
    }
    @media (max-width: @mobileMax) {
      font-size: 55px;
      top: 4%;
    }
  }
  &-paragraph {
    display: block;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 25%;
    height: auto;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    transition: top 500ms;
    z-index: 3;
    p,
    em,
    ul li {
      margin: 0;
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 10px;
    }
    em {
      width: 60%;
    }
    @media (max-width: @tabletMax) {
      top: 45% !important;
    }
    @media (max-width: @mobileMax) {
      top: 40% !important;
      width: 50%;
      padding: 10px;
      background: #FFF;
      p {
        font-size: 15px;
      }
    }
  }
  .block-overlay {
    display: block;
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 4;
    .inner {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      .height {
        position: absolute;
        width: 100%;
        height: 100%;
        background: @black;
        top: 0;
        left: 0;
      }
    }
  }
}

.portfolio-links,
.help-commands {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  li {
    margin-bottom: 10px;
    color: #666;
    a {
      color: #666;
      text-decoration: none;
      &:hover {
        color: #000;
      }
    }
  }
}

.hint {
  display: none;
  line-height: 1;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 11;
}

.video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  video {
    object-fit: cover;
    width: 110vw;
    height: 110vh;
  }
}

.video-spacebar {
  display: none;
  z-index: 10;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #FFF;
    text-transform: uppercase;
  }
}

// Are you afraid of the dark?
.lock-wrap {
  position: absolute;
  bottom: -50%;
  left: 70%;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  @media (max-width: @mobileMax) {
    display: none;
  }
  &.show {
    bottom: 5%;
    opacity: 1;
  }
  .question {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    a {
      display: inline-block;
      color: inherit;
      margin: 0 5px;
      border-bottom: 1px solid transparent;
      &:hover {
        border-color: #000;
      }
    }
  }
}
body.dark {
  background: #000;
  color: #FFF;
  .intro h1,
  .intro h1 span {
    color: #FFF !important;
  }
  .intro-image {
    background-image: url('http://emj.bmj.com/content/23/5/e32/F2.large.jpg');
    &.white {
      background: #000 !important;
    }
  }
  .intro-paragraph p {
    color: #FFF;
    a {
      color: #FFF;
      border-color: #FFF;
    }
  }
  @media (max-width: @mobileMax) {
    .intro-paragraph {
      background-color: #000;
    }
  }
  .intro .block-overlay .inner .height {
    background: #FFF;
  }
  .lock-wrap {
    color: #FFF;
    .question a:hover {
      border-color: #FFF;
    }
  }
}
